Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Limiter==4.1.1
flask-talisman==1.1.0

gunicorn==26.2.0

pandas==2.2.3
numpy==1.26.4
matplotlib==3.8.2
Markdown==3.10.3

anthropic==0.120.0

python-dotenv==1.0.1
bcrypt==5.0.0
Werkzeug==3.1.4
