{% extends "base.html" %} {% block title %}Streszczenie AI{% endblock %} {%block
content %}
<h2>Analizuj dane</h2>
<form action="/analise" method="POST" enctype="multipart/form-data">
  <input type="file" name="csv_file" accept=".csv" />
  <button type="submit">Wyślij plik</button>
</form>
{% if blad %}
<div class="answer-box">
  <p><strong>Ups! </strong> {{ blad }}</p>
</div>
{% endif %} {% if podsumowanie_ai %}
<div class="answer-box">
  <p><strong>Plik </strong> {{ nazwa_pliku }}</p>
  <hr />
  <p>
    <a href="{{ report_link }}" target="_blank">
      Otwórz raport jako osobną stronę HTML</a
    >
  </p>

  <hr />
  <div id="podsumowanie"></div>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    document.getElementById("podsumowanie").innerHTML = marked.parse(
      `{{ podsumowanie_ai | safe }}`
    );
  </script>
</div>
{% endif %} {% endblock %}
