{% extends "base.html" %} {% block title %}Streszczenie AI{% endblock %} {%block
content %}
<h2>Zapytaj AI</h2>
<form action="/ask" method="POST">
  <textarea
    name="pytanie"
    id="pytanie"
    rows="4"
    placeholder="Wpisz swoje pytanie ."
  >
  </textarea>
  <button type="submit">Wyślij</button>
</form>
{% if pytanie %}
<p><em>Twoje pytanie: {{ pytanie }} </em></p>
{% endif %}
<div class="answer-box">
  {% if odpowiedz %}
  <p>{{ odpowiedz }}</p>
  {% else %}
  <p>Tutaj pojawi się odpowiedź AI.</p>
  {% endif %}
</div>

{% endblock %}
