{% extends "base.html" %} {% block title %}Streszczenie AI{% endblock %} {%block
content %}
<h2>Streszczenie AI</h2>
<form action="/summarize" method="POST">
  <textarea
    name="tekst"
    id="tekst"
    rows="4"
    placeholder="Wpisz tekst do streszczenia."
  >
  </textarea>
  <button type="submit">Wyślij</button>
</form>
{% if tekst %}
<p><em>Twój tekst: {{ tekst }} </em></p>
{% endif %}
<div class="answer-box">
  {% if streszczenie %}
  <p>{{ streszczenie }}</p>
  {% else %}
  <p>Tutaj pojawi się streszczenie AI.</p>
  {% endif %}
</div>
{% endblock %}
